.navbar {
  background: lightgrey;
  padding: 120px 100px;
  & a {
    text-decoration: none;
    color: white;
  }
}

.navbar .left {
  float: left;
}

.navbar .right {
  float: right;
  & ul {
    padding: 0px;
    margin: 0px;
  }
  & li {
    display: inline;
    padding-left: 15px;
  }
}
