.navbar a {
  text-decoration: none;
  color: white;
}

.navbar .left {
  float: left;
  padding-left: 120px;
  padding-top: 70px;
}

.navbar .right {
  float: right;
  & ul {
    padding-right: 100px;
    padding-top: 70px;
    margin: 0px;
  }
  & li {
    display: inline;
    padding-right: 20px;
  }
}
